$frame-class: maze-frame;

:root {
  --color: #000;
  --background-color: #fff;
  --lightgray: #eee;
  --dark-background-color: var(--lightgray);
  --width: 2rem;
  --border-width: 0.3rem;

  --good: yellowgreen;
  --bad: darkred;
}

div.#{$frame-class} {
  display: grid;
  width: fit-content;
  border: var(--border-width) solid var(--color);

  div.cell {
    border: var(--border-width) solid var(--lightgray);
    width: var(--width);
    aspect-ratio: 1/1;
    background-color: var(--background-color);
    box-sizing: border-box;
  }
}

@each $item in top, bottom, left, right {
  div.#{$frame-class} .#{$item} {
    border-#{$item}-color: var(--color) !important;
  }
  div.#{$frame-class} .#{$item}-good {
    border-#{$item}-color: var(--good) !important;
  }
  div.#{$frame-class} .#{$item}-bad {
    border-#{$item}-color: var(--bad) !important;
  }
}
