$frame-class: maze-frame;

:root {
  --color: #000;
  --background-color: #fff;
  --lightgray: #eee;
  --dark-background-color: var(--lightgray);
  --width: 2rem;
  --border-width: 0.3rem;

  --checked: rgb(224, 255, 180);
  --dark-checked: rgb(201, 229, 160);
}

@mixin reset {
  font-size: inherit;
  background-color: inherit;
  padding: inherit;
  margin: inherit;
  border: none;
}

div.#{$frame-class} {
  display: grid;
  width: fit-content;
  border: var(--border-width) solid var(--color);

  & > button {
    @include reset();

    cursor: pointer;

    border: var(--border-width) solid var(--lightgray);
    width: var(--width);
    aspect-ratio: 1/1;
    background-color: var(--background-color);

    &:hover {
      background-color: var(--dark-background-color);
    }

    &.checked {
      background-color: var(--checked);

      &:hover {
        background-color: var(--dark-checked);
      }
    }
  }
}

@each $item in top, bottom, left, right {
  div.#{$frame-class} > *.#{$item} {
    border-#{$item}-color: var(--color);
  }
}
